<!--<configuration>-->
<!--    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                &lt;!&ndash; Время события &ndash;&gt;-->
<!--                <timestamp>-->
<!--                    <fieldName>when</fieldName>-->
<!--                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>-->
<!--                </timestamp>-->

<!--                &lt;!&ndash; Уровень логирования &ndash;&gt;-->
<!--                <logLevel>-->
<!--                    <fieldName>level</fieldName>-->
<!--                </logLevel>-->

<!--                &lt;!&ndash; Источник: класс и строка &ndash;&gt;-->
<!--                <stackTraceElement>-->
<!--                    <fieldName>source</fieldName>-->
<!--                    <classNameAsField>true</classNameAsField>-->
<!--                    <methodNameAsField>true</methodNameAsField>-->
<!--                    <lineNumberAsField>true</lineNumberAsField>-->
<!--                    <fileNameAsField>false</fileNameAsField>-->
<!--                    <fieldNamePattern>%class.%method(%file:%line)</fieldNamePattern>-->
<!--                </stackTraceElement>-->

<!--                &lt;!&ndash; Имя логгера &ndash;&gt;-->
<!--                <loggerName>-->
<!--                    <fieldName>logger</fieldName>-->
<!--                </loggerName>-->

<!--                &lt;!&ndash; Имя потока &ndash;&gt;-->
<!--                <threadName>-->
<!--                    <fieldName>thread</fieldName>-->
<!--                </threadName>-->

<!--                &lt;!&ndash; ID процесса &ndash;&gt;-->
<!--                <processId>-->
<!--                    <fieldName>processId</fieldName>-->
<!--                </processId>-->

<!--                &lt;!&ndash; Сообщение лога &ndash;&gt;-->
<!--                <message>-->
<!--                    <fieldName>message</fieldName>-->
<!--                </message>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="JSON" />-->
<!--    </root>-->

<!--</configuration>-->

<configuration>
    <appender name="TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
<!--        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">-->
<!--            <truncateAfter>^org\.camunda\.bpm\.engine\.MismatchingMessageCorrelationException$</truncateAfter>-->
<!--            <truncateAfter>^org\.camunda\.bpm\.engine\.impl\.cmd\.CorrelateMessageCmd\..*</truncateAfter>-->

<!--            &lt;!&ndash; Устанавливаем максимальную длину стека вызовов для указанных исключений &ndash;&gt;-->
<!--            <maxLength>0</maxLength>-->
<!--        </throwableConverter>-->
    </appender>
    <root level="INFO">
        <appender-ref ref="TEXT"/>
    </root>
</configuration>